.window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 10%;
    border-bottom: 5px solid purple;
}

.contents {
    position: relative;
    width: 100%;
    height: 90%;
    border: 1px solid green;
}

.box {
    width: 120px;
    height: 110px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid red;
}

p {
    text-align: center;
    margin-top: 120px;
    font-size: 16px;
    font-family: Consolas;
}

.bar {
    height: 30px;
    margin: 10px;
    font-size: 14px;
    font-family: Consolas;
}

.folder {
    background-color: purple;
}

.file {
    background-color: pink;
}

.highlighted {
    background-color: rgba(12, 167, 211, 0.5);
}

input[name="address-bar"] {
    width: 800px;
}

input[name="search-bar"] {
    width: 300px;
}

.new-button {
    width: 100px;
    height: 35px;
    font-size: 14px;
    font-family: Consolas;
}

.back-button {
    width: 60px;
    height: 35px;
    font-size: 14px;
    font-family: Consolas;
    margin-left: 5px;
}

.not-clickable {
    background-color: gray;
}

.editor {
    width: 450px;
    height: 350px;
    position: absolute;
    bottom: 5px;
    right: 6px;
    border: 1px solid black;
    display: none;
}

.editor-header {
    height: 10%;
    border-bottom: 1px solid black;
}

.editor-text {
    height: 90%;
}

textarea[name="file-content"] {
    width: 100%;
    height: 99%;
    font-size: 14px;
    font-family: Consolas;
    border: none;
    padding: 0;
}

input[name="file-title"] {
    width: 370px;
    height: 25px;
    margin-left: 5px;
    margin-top: 2px;
    vertical-align: top;
}

#close-button {
    width: 60px;
    height: 30px;
    font-size: 14px;
    font-family: Consolas;
    margin-top: 3px;
    vertical-align: top;
}

#exit-search-button {
    position: absolute;
    top: 80px;
    right: 1px;
    width: 100px;
    height: 50px;
    font-size: 12px;
    font-family: Consolas;
    display: none;
    z-index: 1;
}