.window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header {
    position: relative;
    height: 55px;
    background-color: #4D4479;
    padding: 5px 0px;
}

.contents {
    background-color: #6E63A7;
    position: relative;
    height: calc(100% - 65px);
}

.box {
    width: 120px;
    height: 110px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    border-radius: 500px;
    vertical-align: top;
    background-size: 75px 65px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #5DB0E6;
}

p {
    text-align: center;
    margin-top: 120px;
    font-size: 16px;
    font-family: Consolas;
}

.bar {
    height: 30px;
    margin: 10px;
    font-size: 14px;
    font-family: Consolas;
}

.folder {
    background-image: url('images/folder2.svg'); 
}

.file {
    background-image: url('images/file.svg');
}

.highlighted {
    background-color: #F06292;
}

input[name="address-bar"] {
    width: 800px;
    background-color: #bdc3c7;
    border: none;
}

input[name="search-bar"] {
    width: 300px;
    background-color: #bdc3c7;
    border: none;
}

.new-button {
    width: 100px;
    height: 35px;
    font-size: 14px;
    font-family: Consolas;
    color: white;
    background-color: #6E63A7;
    border: none;
}

.back-button {
    width: 60px;
    height: 35px;
    font-size: 14px;
    font-family: Consolas;
    margin-left: 5px;
    color: white;
    background-color: #6E63A7;
    border: none;
}

.not-clickable {
    background-color: gray;
}

.editor {
    width: 450px;
    height: 350px;
    position: absolute;
    bottom: 5px;
    right: 6px;
    border: 1px solid black;
    display: none;
    background-color: white;
}

.editor-header {
    height: 10%;
    border-bottom: 1px solid black;
}

.editor-text {
    height: 90%;
}

textarea[name="file-content"] {
    width: 100%;
    height: 99%;
    font-size: 14px;
    font-family: Consolas;
    border: none;
    padding: 0;
}

input[name="file-title"] {
    width: 370px;
    height: 25px;
    font-size: 14px;
    font-family: Consolas;
    margin-left: 5px;
    margin-top: 2px;
    vertical-align: top;
}

#close-button {
    width: 60px;
    height: 30px;
    font-size: 14px;
    font-family: Consolas;
    margin-top: 3px;
    vertical-align: top;
}

#exit-search-button {
    position: absolute;
    top: 80px;
    right: 1px;
    width: 100px;
    height: 50px;
    font-size: 12px;
    font-family: Consolas;
    display: none;
    z-index: 1;
}

.rename {
    position: absolute;
    padding: 5px 10px;
    font-size: 14px;
    font-family: Consolas;
    border: 1px solid black;
    background-color: #bdc3c7;
    display: none;
    z-index: 1;
    cursor: pointer;
}